html
{
    background-image: url(src/background.jpg);
    background-size: cover;
}

.left
{
    float: left;
    width: 80%;
}

.right
{
    float: right;
    width: 20%;
}

.draw
{
    background-color: white;
    border-radius: 20px;
    border: solid 1px grey;
    box-shadow: 0 4px 8px 0 #4F9D9D,0 6px 20px #408080;
    display: inline-block;
    margin: 30px;
    width: 880px;
    height: 530px;
}

#myCanvas
{
    width: 880px;
    height: 530px;
}

#color
{
    width: 130px;
    height: 100px;
}

.btn_con
{
    width: 100px;
    height: 10px;
    background-color:rgba(0, 0, 0, 0);
    background-image: url(src/tool/circle_on.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: background 0.3s;
    border: 0;
    outline: none;
}

.btn_con:hover
{
    background-image: url(src/tool/control.svg);
}

.btn_b
{
    width: 20px;
    height: 20px;
    background-color:rgba(0, 0, 0, 0);
    transition: background 0.3s;
    border: 0;
    outline: none;
    background-image: url(src/tool/pencil.svg);
}

.btn_f
{
    width:80px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #4F9D9D,0 6px 20px #408080;
    background-color: rgb(120, 168, 160);
    transition: background 0.3s;
    border: 0;
    outline: none;
}

.btn_f:hover
{
    background-color: rgb(69, 114, 100);
    color: white;
}

.btn_s
{
    width:40px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #4F9D9D,0 6px 20px #408080;
    background-color: rgb(120, 168, 160);
    transition: background 0.3s;
    border: 0;
    outline: none;
}

.btn_s:hover
{
    background-color: rgb(69, 114, 100);
    color: white;
}

.btn
{
    width: 40px;
    height: 40px;
    background-color:rgba(0, 0, 0, 0);
    transition: background 0.3s;
    border: 0;
    outline: none;
}

.btn_l
{
    width: 70px;
    height: 40px;
    background-color:rgba(0, 0, 0, 0);
    transition: background 0.3s;
    border: 0;
    outline: none;
}

.pen
{
    background-image: url(src/tool/pencil.svg);
}

.pen:hover
{
    background-image: url(src/tool/pencil_on.svg);
}

.pen:focus
{
    background-image: url(src/tool/pencil_on.svg);
}

.erase
{
    background-image: url(src/tool/eraser.svg);
    width: 100%;
}

.erase:hover
{
    background-image: url(src/tool/eraser_on.svg);
}

.erase:focus
{
    background-image: url(src/tool/eraser_on.svg);
}

.type
{
    background-image: url(src/tool/type.svg);
    background-repeat: no-repeat;
}

.type:hover
{
    background-image: url(src/tool/type_on.svg);
    background-repeat: no-repeat;
}

.type:focus
{
    background-image: url(src/tool/type_on.svg);
    background-repeat: no-repeat;
}

.circle
{
    background-image: url(src/tool/circle.svg);
}

.circle:hover
{
    background-image: url(src/tool/circle_on.svg);
}

.circle:focus
{
    background-image: url(src/tool/circle_on.svg);
}

.triangle
{
    background-image: url(src/tool/triangle.svg);
}

.triangle:hover
{
    background-image: url(src/tool/triangle_on.svg);
}

.triangle:focus
{
    background-image: url(src/tool/triangle_on.svg);
}

.rectangle
{
    background-image: url(src/tool/rectangle.svg);
    background-repeat: no-repeat;
    width: 100%;
}

.rectangle:hover
{
    background-image: url(src/tool/rectangle_on.svg);
    background-repeat: no-repeat;
}

.rectangle:focus
{
    background-image: url(src/tool/rectangle_on.svg);
    background-repeat: no-repeat;
}

.download
{
    background-image: url(src/tool/download.svg);
}

.download:hover
{
    background-image: url(src/tool/download_on.svg);
}

.upload
{
    background-image: url(src/tool/upload.svg);
}

.upload:hover
{
    background-image: url(src/tool/upload_on.svg);
}

.refresh
{
    background-image: url(src/tool/refresh.svg);
}

.refresh:hover
{
    background-image: url(src/tool/refresh_on.svg);
}

.undo
{
    background-image: url(src/tool/undo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.undo:hover
{
    background-image: url(src/tool/undo_on.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.redo
{
    background-image: url(src/tool/redo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.redo:hover
{
    background-image: url(src/tool/redo_on.svg);
    background-repeat: no-repeat;
    background-position: center;
}